---
import "./index.scss";
import Glow from "@/components/glow/index.astro";
import Landing from "@/components/landing/index.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <!-- <meta name="description" content={`${name} — ${bio}`} /> -->
        <title>zar.mx</title>
    </head>
    <body>
        <Landing />
        <Glow />
    </body>
</html>
