.inspiration {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    padding-block: calc(0.5rem * 2);
    padding-inline: calc(0.5rem * 5);

    opacity: 0.05;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: default;

    &:hover {
        opacity: 0.75;
    }
}
